<h1>Your message has been sent</h1>

<p>The message following message was sent to the number: <%= params[:phone]%>.</p>
<div style="color:#d34cff"><%= params[:message] %></div>

<p></p>























